@import 'blocks';
@mixin theme($theme: $color-01, $bg: $color-04){
    border: 1px solid $theme;
    background-color: $bg;


}

.cars {
    @extend %blocks;
    
    h2 {
        color: $color-02;
    }
    
    .destacks {
        @include theme;

    }
    
    li {
        @include theme($theme: $color-default, $bg: $bg-color);
        color: $color-04;
        display: block;
        float: left;
        height: max-content;
        justify-content: center;
        align-items: baseline;
        flex-flow: column;

        a {
            background-color: $color-06;
        }
    }
}