$align: left;
$bg-color: #dedede;
$color-01: #0f0;
$color-02: #999;
$color-03: #f00;
$font-big: 2.5rem; 
$font-medium: 2rem;
$font-normal: 1.8rem;
$font-small: 1.2rem;
$mb: 2rem;
$mt: 1rem;
$mt-02: 2rem;
$font-family-default: Arial, Helvetica, sans-serif;